<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paradox2sql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Paradox2sql.Properties.Settings>
            <setting name="ParadoxLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlConnection" serializeAs="String">
                <value>Data Source=.;Initial Catalog=ImportParadox;Persist Security Info=True;User ID=user;Password=password</value>
            </setting>
        </Paradox2sql.Properties.Settings>
    </userSettings>
</configuration>